.gallery_card{
    position: relative;
    z-index: 2;
    cursor: pointer;
    width: 100%;
    height: 430px;
    background-color: var(--color-red);
    border-radius: 15px;
}
.gallery_card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    opacity: 1;
}
.gallery_card:hover  img{
    opacity: .9;
}

.gallery_card h2{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
}
@media screen and (max-width: 992px){
    .gallery_card{
        height: 350px;
    }
}
@media screen and (max-width: 768px){
    .gallery_card{
        height: 255px;
    }
}