.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
    
}
.logo img{
    width: 200px;
}
@media screen and (max-width: 768px){
    .logo img{
        width: 140px;
    }
}
@media screen and (max-width: 500px){
    .logo img{
        width: 100px;
    }
}

