.nav .nav_list{
    display: flex;
}
.nav .nav_list li{
    list-style: none;
    padding: 0 10px;
}
.nav .nav_list li a{
    text-decoration: none;
    color: #FF6060;
    font-family: 'Montserrat';
}