.carousel{
    height: 415px;
    border-radius: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.slider_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.count_img{
    position: absolute;
    bottom: 40px;
    color: white;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.carousel_arrow{
    width: 30px;
    height: auto;
    cursor: pointer;
}
.carousel_left_arrow{
    margin-left: 30px;
}
.carousel_right_arrow{
    margin-right: 30px;
}
@media screen and (max-width: 768px){
    .carousel{
        height: 255px;
    }
}