.acommodation_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.accommodation_details{
    width: 70%;
}
.accommodation_details h1, .accommodation_details p{
    color: var(--color-red);
}
.accommodation_details button{
    color: white;
    background-color: var(--color-red);
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    margin-right: 10px;
    font-size: var(--size-small);
    margin-bottom: 5px;
}
.accommodation_host_inner{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.accommodation_host{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 30%;
}
.accommodation_host_infos span{
    font-family: var(--font);
    color: var(--color-red);
    font-size: var(--size-small);
    margin-right: 10px;
}
.accommodation_host_inner img{
    border-radius: 100px;
    width: 60px;
    height: auto;
}
.accommodation_host_rating img{
    width: 23px;
}
@media screen and (max-width: 768px){
    .acommodation_content{
        flex-direction: column;
        padding-bottom: 40px;
    }
    .accommodation_details{
        width: 100%;
    }
    .accommodation_host{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
    .accommodation_host_inner{
        margin-bottom: 0;
    }
    .accommodation_details button{
        padding: 5px 10px;
        margin-right: 5px;
    }
}