.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/home_cover.png');
    background-position: center;
    background-size: cover;
    height: 220px;
    padding: 20px;
    margin: 40px auto;
}
.banner h1{
    font-family: 'Montserrat';
    color: white;
    font-size: 40px;
}